In [2]:
'사과나무'.find('무')
#원본이변경하지 않는다.

3

In [7]:
#원본이 변경된다
li=[1,2,3,4]
li.append(5) #결과를 돌려주지 않는 함수들은 원본을 변경하는 방식으로 구분되어 있다.
print(li)

[1, 2, 3, 4, 5]

def test_func() :

In [12]:
def test_func() :  #함수의 헤더, 시그니처
    '''
    docstring - 함수의 사용법을 적기위한 document string
    연습을 위한 함수입니다
    '''
    return 'hello' #메모리에 달고 종료될 무언가를 알려만 주는 함수
test_func()
a = test_func #이를 통해 재사용 할수 있게 된다.

'hello'

In [14]:
def test_func(a,b) :  #함수의 헤더, 시그니처
    '''
    docstring - 함수의 사용법을 적기위한 document string
    연습을 위한 함수입니다
    '''
    return f'{a,b} : Hello'
test_func(1,9)

'(1, 9) : Hello'

In [16]:
def test_func(*a) :  #함수의 헤더, 시그니처
    '''
    docstring - 함수의 사용법을 적기위한 document string
    연습을 위한 함수입니다
    '''
    return f'{a} : Hello'
test_func(1,3,4,9)

'(1, 3, 4, 9) : Hello'

In [17]:
'짱구 짱구엄마 짱구아빠 * 짱아'.split('*')

['짱구 짱구엄마 짱구아빠 ', ' 짱아']

In [20]:
def test_func(a=1,b=6) :  #함수의 헤더, 시그니처
    '''
    a=1, b=6 디폴트값으로 넣는다
    docstring - 함수의 사용법을 적기위한 document string
    연습을 위한 함수입니다
    '''
    return f'{a,b} : Hello'
test_func(b=3) #자리를 바꾸어도 잘 들어간다
test_func(2,9)

'(2, 9) : Hello'

In [24]:
def test_func(*여러개의인자) :  #함수의 헤더, 시그니처
    '''
    a=1, b=6 디폴트값으로 넣는다
    docstring - 함수의 사용법을 적기위한 document string
    연습을 위한 함수입니다
    '''
    return f'{여러개의인자} : Hello'
#test_func(b=3) #자리를 바꾸어도 잘 들어간다
#test_func(2,9)
test_func(1,23,4,[9])

'(1, 23, 4, [9]) : Hello'

In [28]:
c= test_func(1,2,3,4,[9])
type(c)

def test_func(*여러개의인자) :  #함수의 헤더, 시그니처
    '''
    a=1, b=6 디폴트값으로 넣는다
    docstring - 함수의 사용법을 적기위한 document string
    연습을 위한 함수입니다
    '''
    print(여러개의인자)
    return #하나의 변수를 알려만 주는 함수다 *여러개의인지 이렇게 넣으면 여러개를 넣을수 있기에 불가능하다

(1, 2, 3, 4, [9])

In [35]:
a,b,*c, = 1,2,34,5 #unpacking
print(a,b,c)

1 2 [34, 5]

In [36]:
def  print3(**kwargs): # 가변인자 / 파라미터=아규먼트 순서로 받을거야
    print(kwargs)  #*첫번쨰 별은 몆개 들어올지 몰라를 의밈하고 *두번쨰별은 값을 의미한다
    #여기서는 즉 값이름 과 값 을 몆개든 받겟다는 의미

In [38]:
print3(a=2,b=5)

{'a': 2, 'b': 5}

In [39]:
#두개를 한번에 사용할수 있다.
def value(*arg, **kwargs):
    print(arg, kwargs)
    return

In [41]:
value(1,2,3,4,5, a=1, b=2)

(1, 2, 3, 4, 5) {'a': 1, 'b': 2}

In [43]:
#두개를 한번에 사용할수 있다.
def value(*arg, **kwargs):
    #print(arg, kwargs)
    return arg, kwargs
value(1,2,3,4,5, a=1, b=2)
#return에서 실행하면 하나의 리시트로 만들어진다. 하나의 값만이 나와야하기때문이다.

((1, 2, 3, 4, 5), {'a': 1, 'b': 2})

In [47]:
def value(*args, **kwargs): # 1, 2, 3, 4, 5, a=1, b=2 ...........
    # print(args, kwargs)
    return 0 
value(1, 2, 3, 4, 5, a=1, b=2)

0

In [ ]:
def value2(*arg, **kwargs): #꼭 받아야하는 값이 있고 몆개인지 정해지지 않안 args를 함께 받아야할떄
    
    return arg, kwargs
value(1,2,3,4,5, a=1, b=2)

In [49]:
print('안녕','나는', ' 금요일을','사랑해', sep='zz' )#sep을 사용해서 스페이스 대신 구분자로 사용한다.

안녕zz나는zz 금요일을zz사랑해

In [50]:
print('안녕','나는', ' 금요일을','사랑해', sep='zz' ,end='s')

안녕zz나는zz 금요일을zz사랑해s

In [51]:
def value3(a=1 ,b= 2,*arg): #꼭 받아야하는 값이 있고 몆개인지 정해지지 않안 args를 함께 받아야할떄
    print(f'a={a}, b={b}, 나머지들{arg}')
    return 
value3()

a=1, b=2, 나머지들()

In [52]:
value3(1,2)

a=1, b=2, 나머지들()

In [55]:
def value3(*arg,a=1 ,b= 2,): #꼭 받아야하는 값이 있고 몆개인지 정해지지 않안 args를 함께 받아야할떄
    print(f'a={a}, b={b}, 나머지들{arg}')
    return

In [57]:
value3(1,2) #*가변인자가 먼저 들어오면 위에와 달리 오류가 나지 않는다.

a=1, b=2, 나머지들(1, 2)

In [59]:
#하지만
def value3(*arg,a ,b): #꼭 받아야하는 값이 있고 몆개인지 정해지지 않안 args를 함께 받아야할떄
    print(f'a={a}, b={b}, 나머지들{arg}')
    return 
value3(1,2) #이건 동작하지 않는다. 가변인자가 먼저오면 몆개가 들어올지 모르는데 a,b를 반드시 받아야하느데 이가 불가능하기 때문이다.

TypeError: value3() missing 2 required keyword-only arguments: 'a' and 'b'

In [63]:
def test_func1(): #return이 함수에 여러개 있을 수도 있지만 
    #return을 만나면 함수를 종료되기에 실행되는건 단 하나
    print('함수 실행중1')
    return 1 #break처럼 뒤에 있는 문장들은 절대 실해오디지 않습니다.
    print('함수 실행중2')
    print('함수 실행중3')
    return 2 # 그래도 실행안됨
    print('함수 실행중4')
test_func1()

함수 실행중1

1

In [68]:
def func_reverse(li):
    '''
    순서가 있는 자료혈을 입력받아서 거꾸로 출력하는 함수
    '''
    return li[::-1]
func_reverse([1,2,3,4,5])

[5, 4, 3, 2, 1]

In [70]:
print(type(func_reverse))
isinstance([1,2,3,4],list) #자료형을 확인하는 함수 T,F로 반환한다

<class 'function'>

True

In [73]:
def func_reverse(li):
    '''
    순서가 있는 자료형을 입력받아서 거꾸로 출력하는 함수
    '''
    if isinstance(li, list):
        return li[::-1]
    else:
        return '순서가 있는 자료형을 입력하세요!!!'
    
func_reverse([1,2,3,4])

[4, 3, 2, 1]

In [76]:
def func_reverse(li):
    '''
    순서가 있는 자료형을 입력받아서 거꾸로 출력하는 함수
    '''
    
    if isinstance(li, list):
        return li[::-1]
    return '순서가 있는 자료형을 입력하세요!!!'

func_reverse([1,2,3,4])

[4, 3, 2, 1]

In [85]:
#내가 만든거
def person_info() :
    a= input('이름')
    b = input('나이를 입력해주세요')
    c= {a:b}
    print(type(c))
    return c
person_info()

<class 'dict'>

{'은채': '23'}

### 실습. 좋아하는 숫자 (개수제한 없음)와 name, age를 파라메터로 입력받고 딕셔너리 형태로  함수 person_info1()을 만들어주세요.

In [87]:
def person_info1(*nums, name,age):
    return {'age':age, 'favorNums' : nums , 'name' : name}
print(type(person_info1(3,7,9, name='kim', age='22')))
person_info1(3,7,9, name='kim', age='22')

<class 'dict'>

{'age': '22', 'favorNums': (3, 7, 9), 'name': 'kim'}

In [106]:
numl= []
def person_info2():
    while True:
        i = input('좋아하는 숫자를 입력하시오 끝내려면 x를 입력')
        if i == 'x':
            break
        else : numl.append(i)
    name = input('이름 입력')
    age = input('나이 입력')
    d = {'age':age, 'favorNums' : numl , 'name' : name}
    return d
person_info2()
print(numl)

['1', '2', '3', '4', 'ㅌ']

In [103]:

dir(numl)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [104]:
# 전역변수 지역변수
# ---------------------------------------------------------- 
# 함수안에서는 지역함수가 전역변수를 우선한다.

In [105]:
id(numl) #numl의 주소를 찾기
## global ---> 지역변수지만 이것을 전역변수 영역에 저장해주는 명령어
#global c 이렇게 쓴다

2241024114560

In [121]:
def minimum(*a):
    print(type(a))
    if len(a) <=  2:
        print(0)
    else:
        num1 = min(a)
        print(num1)
        
minimum(96,100,12714)

<class 'tuple'>
96

In [123]:
##재귀함수recursive function

def recursive(n):
    if n > 0 :
        print(n, '재귀함수 호출')
        recursive(n-1)
recursive(5)

5 재귀함수 호출
4 재귀함수 호출
3 재귀함수 호출
2 재귀함수 호출
1 재귀함수 호출

In [136]:
def r1(n):
    if n > 0:
        print(n,'*',end ='')
        result = n + r1(n-1)
        return result
    if n == 0:
        return 0
r1(10)
def r2(n):
    if n > 1:
        result = n * r2(n-1)
        return result
    if n ==1 :
        return 1
r2(10)

10 *9 *8 *7 *6 *5 *4 *3 *2 *1 *

3628800

In [138]:
def r2(n):
    if n > 1:
        result = n * r2(n-1)
        return result
    if n ==1 :
        return 1
r2(10)

3628800

In [145]:
#평탄화 작업
result=[]
def t1(a):
    for i in range(0,len(a)):
        if type(a[i]) == list:
            t1(a[i])
        if type(a[i]) == int or type(a[i]) == str:
            result.append(a[i])
    return result
t1([1,2,3,4,[12.3]])

[1, 2, 3, 4]

In [148]:
박은채식 = lambda a=1, b=2, c=3 : a+(b*c)
박은채식(5,2,3)

11

In [150]:
def multiply(a,b):
    return a*b
multiply(8,9)

72

In [151]:
divide = lambda a=1,b=1 : a/b
divide(10,2)

5.0

In [153]:
happy_dict ={'ㄴ' : 10}
points = [(1, 2), (3, 1), (5, -1), (2, 3)]
# 튜플의 0번자리 중심으로 오름차순 정렬/ 튜플자리 1번자리 기준으로 오름차순 정렬

sorted_list = sorted(happy_dict.items(), key=lambda x: x[1], reverse=True)

print(sorted_list)

[('ㄴ', 10)]

In [156]:
points = [(1, 2), (3, 1), (5, -1), (2, 3)]
# 튜플의 0번자리 중심으로 오름차순 정렬/ 튜플자리 1번자리 기준으로 오름차순 정렬

sorted_list = sorted(points, key=lambda points: points[1], reverse=True)
print(sorted_list)

[(5, -1), (3, 1), (1, 2), (2, 3)]

In [158]:
points = [(1, 2), (3, 1), (5, -1), (2, 3)]
# 튜플의 0번자리 중심으로 오름차순 정렬/ 튜플자리 1번자리 기준으로 오름차순 정렬

sorted_list = sorted(points, key=lambda points: points[1])
print(sorted_list)

[(5, -1), (3, 1), (1, 2), (2, 3)]

In [161]:
list1 = []  #빈칸이 필요하다
for i in range(1,7):
    list1.append(i)
list1

[i for i in range(1,7)]

[1, 2, 3, 4, 5, 6]

In [163]:
[i for i in range(1,7)] #종료하는 순간 사라지기 때문에 사용하고 싶은면 새로 변수를 만들어야한다.

[1, 2, 3, 4, 5, 6]

In [175]:
%%time
list1 = []  #빈칸이 필요하다
for i in range(1,1000000):
    if i %2 ==0:
        list1.append(i)

CPU times: total: 125 ms
Wall time: 210 ms

In [203]:
%%time   
#시간이 엄청 단축된다.
[i for i in range(1,1000000) if i %2 ==0]

CPU times: total: 15.6 ms
Wall time: 120 ms

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248,
 250,
 252,
 254,
 256,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 272,
 274,
 276,
 278,
 280,
 282,
 284,
 286,
 288,
 290,
 292,
 294,
 296,
 298,
 300,
 302,
 304,
 306,
 308,
 310,
 312,
 314,
 316,
 318,
 320,
 322,
 324,
 326,
 328,
 330,
 332,
 334,
 336,
 338,
 340,
 342,
 344,
 346,
 348,
 350,
 352,
 354,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 372,
 374,
 376,
 378,
 380,
 382,
 384,
 386,
 388,
 390,
 392,
 394,
 396,
 398,
 400,
 402,
 404,
 406,
 408,
 410,
 412,
 414,
 416,
 418,
 420,
 422,
 424,
 426,
 428,
 430,
 432,
 434,
 436,
 438,
 440,
 442,
 444,
 446,
 448,
 450,
 452,
 454,
 456,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 484,
 486,
 488,
 490,
 492,
 494,
 496,
 498,
 500,
 502,
 504,
 506,
 508,
 510,
 512,
 514,
 516,
 518,
 520,
 522,
 524,
 526,
 528,
 530,
 532,
 534,
 536,
 538,
 540,
 542,
 544,
 546,
 548,
 550,
 552,
 554,
 556,
 558,
 560,
 562,
 564,
 566,
 568,
 570,
 572,
 574,
 576,
 578,
 580,
 582,
 584,
 586,
 588,
 590,
 592,
 594,
 596,
 598,
 600,
 602,
 604,
 606,
 608,
 610,
 612,
 614,
 616,
 618,
 620,
 622,
 624,
 626,
 628,
 630,
 632,
 634,
 636,
 638,
 640,
 642,
 644,
 646,
 648,
 650,
 652,
 654,
 656,
 658,
 660,
 662,
 664,
 666,
 668,
 670,
 672,
 674,
 676,
 678,
 680,
 682,
 684,
 686,
 688,
 690,
 692,
 694,
 696,
 698,
 700,
 702,
 704,
 706,
 708,
 710,
 712,
 714,
 716,
 718,
 720,
 722,
 724,
 726,
 728,
 730,
 732,
 734,
 736,
 738,
 740,
 742,
 744,
 746,
 748,
 750,
 752,
 754,
 756,
 758,
 760,
 762,
 764,
 766,
 768,
 770,
 772,
 774,
 776,
 778,
 780,
 782,
 784,
 786,
 788,
 790,
 792,
 794,
 796,
 798,
 800,
 802,
 804,
 806,
 808,
 810,
 812,
 814,
 816,
 818,
 820,
 822,
 824,
 826,
 828,
 830,
 832,
 834,
 836,
 838,
 840,
 842,
 844,
 846,
 848,
 850,
 852,
 854,
 856,
 858,
 860,
 862,
 864,
 866,
 868,
 870,
 872,
 874,
 876,
 878,
 880,
 882,
 884,
 886,
 888,
 890,
 892,
 894,
 896,
 898,
 900,
 902,
 904,
 906,
 908,
 910,
 912,
 914,
 916,
 918,
 920,
 922,
 924,
 926,
 928,
 930,
 932,
 934,
 936,
 938,
 940,
 942,
 944,
 946,
 948,
 950,
 952,
 954,
 956,
 958,
 960,
 962,
 964,
 966,
 968,
 970,
 972,
 974,
 976,
 978,
 980,
 982,
 984,
 986,
 988,
 990,
 992,
 994,
 996,
 998,
 1000,
 1002,
 1004,
 1006,
 1008,
 1010,
 1012,
 1014,
 1016,
 1018,
 1020,
 1022,
 1024,
 1026,
 1028,
 1030,
 1032,
 1034,
 1036,
 1038,
 1040,
 1042,
 1044,
 1046,
 1048,
 1050,
 1052,
 1054,
 1056,
 1058,
 1060,
 1062,
 1064,
 1066,
 1068,
 1070,
 1072,
 1074,
 1076,
 1078,
 1080,
 1082,
 1084,
 1086,
 1088,
 1090,
 1092,
 1094,
 1096,
 1098,
 1100,
 1102,
 1104,
 1106,
 1108,
 1110,
 1112,
 1114,
 1116,
 1118,
 1120,
 1122,
 1124,
 1126,
 1128,
 1130,
 1132,
 1134,
 1136,
 1138,
 1140,
 1142,
 1144,
 1146,
 1148,
 1150,
 1152,
 1154,
 1156,
 1158,
 1160,
 1162,
 1164,
 1166,
 1168,
 1170,
 1172,
 1174,
 1176,
 1178,
 1180,
 1182,
 1184,
 1186,
 1188,
 1190,
 1192,
 1194,
 1196,
 1198,
 1200,
 1202,
 1204,
 1206,
 1208,
 1210,
 1212,
 1214,
 1216,
 1218,
 1220,
 1222,
 1224,
 1226,
 1228,
 1230,
 1232,
 1234,
 1236,
 1238,
 1240,
 1242,
 1244,
 1246,
 1248,
 1250,
 1252,
 1254,
 1256,
 1258,
 1260,
 1262,
 1264,
 1266,
 1268,
 1270,
 1272,
 1274,
 1276,
 1278,
 1280,
 1282,
 1284,
 1286,
 1288,
 1290,
 1292,
 1294,
 1296,
 1298,
 1300,
 1302,
 1304,
 1306,
 1308,
 1310,
 1312,
 1314,
 1316,
 1318,
 1320,
 1322,
 1324,
 1326,
 1328,
 1330,
 1332,
 1334,
 1336,
 1338,
 1340,
 1342,
 1344,
 1346,
 1348,
 1350,
 1352,
 1354,
 1356,
 1358,
 1360,
 1362,
 1364,
 1366,
 1368,
 1370,
 1372,
 1374,
 1376,
 1378,
 1380,
 1382,
 1384,
 1386,
 1388,
 1390,
 1392,
 1394,
 1396,
 1398,
 1400,
 1402,
 1404,
 1406,
 1408,
 1410,
 1412,
 1414,
 1416,
 1418,
 1420,
 1422,
 1424,
 1426,
 1428,
 1430,
 1432,
 1434,
 1436,
 1438,
 1440,
 1442,
 1444,
 1446,
 1448,
 1450,
 1452,
 1454,
 1456,
 1458,
 1460,
 1462,
 1464,
 1466,
 1468,
 1470,
 1472,
 1474,
 1476,
 1478,
 1480,
 1482,
 1484,
 1486,
 1488,
 1490,
 1492,
 1494,
 1496,
 1498,
 1500,
 1502,
 1504,
 1506,
 1508,
 1510,
 1512,
 1514,
 1516,
 1518,
 1520,
 1522,
 1524,
 1526,
 1528,
 1530,
 1532,
 1534,
 1536,
 1538,
 1540,
 1542,
 1544,
 1546,
 1548,
 1550,
 1552,
 1554,
 1556,
 1558,
 1560,
 1562,
 1564,
 1566,
 1568,
 1570,
 1572,
 1574,
 1576,
 1578,
 1580,
 1582,
 1584,
 1586,
 1588,
 1590,
 1592,
 1594,
 1596,
 1598,
 1600,
 1602,
 1604,
 1606,
 1608,
 1610,
 1612,
 1614,
 1616,
 1618,
 1620,
 1622,
 1624,
 1626,
 1628,
 1630,
 1632,
 1634,
 1636,
 1638,
 1640,
 1642,
 1644,
 1646,
 1648,
 1650,
 1652,
 1654,
 1656,
 1658,
 1660,
 1662,
 1664,
 1666,
 1668,
 1670,
 1672,
 1674,
 1676,
 1678,
 1680,
 1682,
 1684,
 1686,
 1688,
 1690,
 1692,
 1694,
 1696,
 1698,
 1700,
 1702,
 1704,
 1706,
 1708,
 1710,
 1712,
 1714,
 1716,
 1718,
 1720,
 1722,
 1724,
 1726,
 1728,
 1730,
 1732,
 1734,
 1736,
 1738,
 1740,
 1742,
 1744,
 1746,
 1748,
 1750,
 1752,
 1754,
 1756,
 1758,
 1760,
 1762,
 1764,
 1766,
 1768,
 1770,
 1772,
 1774,
 1776,
 1778,
 1780,
 1782,
 1784,
 1786,
 1788,
 1790,
 1792,
 1794,
 1796,
 1798,
 1800,
 1802,
 1804,
 1806,
 1808,
 1810,
 1812,
 1814,
 1816,
 1818,
 1820,
 1822,
 1824,
 1826,
 1828,
 1830,
 1832,
 1834,
 1836,
 1838,
 1840,
 1842,
 1844,
 1846,
 1848,
 1850,
 1852,
 1854,
 1856,
 1858,
 1860,
 1862,
 1864,
 1866,
 1868,
 1870,
 1872,
 1874,
 1876,
 1878,
 1880,
 1882,
 1884,
 1886,
 1888,
 1890,
 1892,
 1894,
 1896,
 1898,
 1900,
 1902,
 1904,
 1906,
 1908,
 1910,
 1912,
 1914,
 1916,
 1918,
 1920,
 1922,
 1924,
 1926,
 1928,
 1930,
 1932,
 1934,
 1936,
 1938,
 1940,
 1942,
 1944,
 1946,
 1948,
 1950,
 1952,
 1954,
 1956,
 1958,
 1960,
 1962,
 1964,
 1966,
 1968,
 1970,
 1972,
 1974,
 1976,
 1978,
 1980,
 1982,
 1984,
 1986,
 1988,
 1990,
 1992,
 1994,
 1996,
 1998,
 2000,
 ...]

In [208]:
num = '12345'
word = 'ABCDE'
list1 =[]
list1 = [i+k for i in num  for k in word ]
list1

['1A',
 '1B',
 '1C',
 '1D',
 '1E',
 '2A',
 '2B',
 '2C',
 '2D',
 '2E',
 '3A',
 '3B',
 '3C',
 '3D',
 '3E',
 '4A',
 '4B',
 '4C',
 '4D',
 '4E',
 '5A',
 '5B',
 '5C',
 '5D',
 '5E']

[1, 2, 3, 4, 5]

In [218]:
def plus3(x):
    return x+3
plus3(10)

#MAP
li = [1,2,3,4,5]
map(plus3, li)  #각 리스트  요소에 3을 더해준다.
##<map at 0x209ca63a710> 함수형 동작이기때문에 결과가 이렇게 나온다
list(map(plus3, li)) #함수안에서 함수를 부르는 형태를 call back형태라고 한다

[4, 5, 6, 7, 8]

In [222]:
list(map(lambda x :x+3, li))

[4, 5, 6, 7, 8]

In [224]:
numbers = [1, 2, 3, 4, 5]
list(map(lambda x :x*2, numbers))

[2, 4, 6, 8, 10]

In [227]:
words = ['apple', 'banana', 'cherry']
list(map(lambda x : x.upper(), words))

['APPLE', 'BANANA', 'CHERRY']

In [230]:
import math
string_floats = ['1.1', '2.2', '3.3', '4.4', '5.5']
list(map(lambda x :int(float(x)), string_floats))

[1, 2, 3, 4, 5]

### 모듈, 패키지 , 예외처리

In [235]:
#FIlter 
# filter(function, iterable)
list1= [i for i in range(0,31)]
def even(x):
    if x %2 == 0:
        return x

list(filter(even, list1)) #c참인것만 출력한다.

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [236]:
list(map(even,list1)) #정의역의 개수만큼 나온다

[0,
 None,
 2,
 None,
 4,
 None,
 6,
 None,
 8,
 None,
 10,
 None,
 12,
 None,
 14,
 None,
 16,
 None,
 18,
 None,
 20,
 None,
 22,
 None,
 24,
 None,
 26,
 None,
 28,
 None,
 30]

In [238]:
list(filter(lambda x:x%3==0, list1))

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [242]:
list(enumerate(list1)) #리스트의 요소를 추출할 때 번호를 붙여서 추출해 줍니다

[(0, 0),
 (1, 1),
 (2, 2),
 (3, 3),
 (4, 4),
 (5, 5),
 (6, 6),
 (7, 7),
 (8, 8),
 (9, 9),
 (10, 10),
 (11, 11),
 (12, 12),
 (13, 13),
 (14, 14),
 (15, 15),
 (16, 16),
 (17, 17),
 (18, 18),
 (19, 19),
 (20, 20),
 (21, 21),
 (22, 22),
 (23, 23),
 (24, 24),
 (25, 25),
 (26, 26),
 (27, 27),
 (28, 28),
 (29, 29),
 (30, 30)]

In [245]:
list1 = ['사과', '바나나', '딸기', '포도', '키위']
list(enumerate(list1))
for lis,x in enumerate(list1):
    print(lis,x)

0 사과
1 바나나
2 딸기
3 포도
4 키위

In [251]:
alist = ['사과', '바나나', '딸기', '오렌지']
blist = ['Apple', 'Banana', 'Strawberry']
clist = [100, 200, 300, 400, 500]
list(zip(alist,blist)) #zip은 index가 가장 짧은 리스트를 기준으로 zip한다
for i,k in zip(alist,blist):
    print(i,k)

사과 Apple
바나나 Banana
딸기 Strawberry

In [257]:
for i,k in enumerate(zip(alist,blist)):
    print( i,k)
list(map(lambda i,k : ))

0 ('사과', 'Apple')
1 ('바나나', 'Banana')
2 ('딸기', 'Strawberry')

In [265]:
list(enumerate(zip(alist,blist)))
for v1, v2 in enumerate(zip(alist,blist)) :
    print(v1, v2[0],v2[1])

0 사과 Apple
1 바나나 Banana
2 딸기 Strawberry

In [267]:
[print(v1, v2[0],v2[1]) for v1, v2 in enumerate(zip(alist,blist))]

0 사과 Apple
1 바나나 Banana
2 딸기 Strawberry

[None, None, None]

In [270]:
subjects = ['math', 'history', 'english', 'computer engineering']
scores = [90, 80, 95, 100]
[print(v1, v2[0],v2[1]) for v1, v2 in enumerate(zip(subjects,scores))]
dict(list(zip(subjects, scores)))

0 math 90
1 history 80
2 english 95
3 computer engineering 100

{'math': 90, 'history': 80, 'english': 95, 'computer engineering': 100}

In [255]:
list(enumerate(zip(alist,blist)))

[(0, ('사과', 'Apple')), (1, ('바나나', 'Banana')), (2, ('딸기', 'Strawberry'))]

#### Reduce
- reduce는 반복 가능한 객체의 각 요소를 지정된 함수로 처리한 뒤 이전 결과와 **누적해서 반환**
- reduce는 파이썬 3부터 내장 함수가 아님
- functools 모듈에서 reduce 함수를 가져와야 함

In [288]:
from functools import reduce

In [289]:
array2dim = [[x]*x for x in range(5)] # [x]
array2dim

[[], [1], [2, 2], [3, 3, 3], [4, 4, 4, 4]]

In [290]:
reduce(lambda x, y : x+y, array2dim)
#

[1, 2, 2, 3, 3, 3, 4, 4, 4, 4]

In [291]:
zerototen = [x for x in range(1,11)]
reduce(lambda x,y: x*y, zerototen)

3628800

In [292]:
test2 = [{'name' : 'a', 'age' : 1}, {'name' : 'b', 'age' : 2}, {'name' : 'c', 'age' : 3}]

In [300]:
reduce(lambda x, y : x+y['age'] , test2, 0) / len(test2) # 첫번째 x를 초기값 0 으로 설정
# 0 + test2[0]['age'] 1
#        1                 +   test2[1]['age']    2
#                           3                           +  test2[2]]['age'] 3

2.0

# 모듈
- 이미 만들어진 파이썬 소스파일(라이브러리)
    - 파이썬은 모듈을 만들기 위한 추가 과정은 필요하지 않습니다.
    - 파이썬 소스파일은 모듈로 사용할 수 있습니다.
    - 재사용성을 위해서 그렇게 쓰고요

    - ipynb파일로 저장되는 코랩, 주피터 파일들은 모듈이 될 수 없습니다.
    - 모듈은 파이썬 언어로 쓰여진 py 확장자인 소스파일만 가능합니다.

In [306]:
!pip install selenium

Collecting selenium
  Downloading selenium-4.22.0-py3-none-any.whl.metadata (7.0 kB)
Collecting urllib3<3,>=1.26 (from urllib3[socks]<3,>=1.26->selenium)
  Downloading urllib3-2.2.2-py3-none-any.whl.metadata (6.4 kB)
Collecting trio~=0.17 (from selenium)
  Downloading trio-0.26.0-py3-none-any.whl.metadata (8.8 kB)
Collecting trio-websocket~=0.9 (from selenium)
  Downloading trio_websocket-0.11.1-py3-none-any.whl.metadata (4.7 kB)
Collecting certifi>=2021.10.8 (from selenium)
  Downloading certifi-2024.7.4-py3-none-any.whl.metadata (2.2 kB)
Collecting typing_extensions>=4.9.0 (from selenium)
  Downloading typing_extensions-4.12.2-py3-none-any.whl.metadata (3.0 kB)
Collecting websocket-client>=1.8.0 (from selenium)
  Downloading websocket_client-1.8.0-py3-none-any.whl.metadata (8.0 kB)
Collecting attrs>=23.2.0 (from trio~=0.17->selenium)
  Downloading attrs-23.2.0-py3-none-any.whl.metadata (9.5 kB)
Collecting sortedcontainers (from trio~=0.17->selenium)
  Downloading sortedcontainers-2.4.0-py2.py3-none-any.whl.metadata (10 kB)
Collecting idna (from trio~=0.17->selenium)
  Downloading idna-3.7-py3-none-any.whl.metadata (9.9 kB)
Collecting outcome (from trio~=0.17->selenium)
  Downloading outcome-1.3.0.post0-py2.py3-none-any.whl.metadata (2.6 kB)
Collecting sniffio>=1.3.0 (from trio~=0.17->selenium)
  Downloading sniffio-1.3.1-py3-none-any.whl.metadata (3.9 kB)
Collecting cffi>=1.14 (from trio~=0.17->selenium)
  Downloading cffi-1.16.0-cp312-cp312-win_amd64.whl.metadata (1.5 kB)
Collecting wsproto>=0.14 (from trio-websocket~=0.9->selenium)
  Downloading wsproto-1.2.0-py3-none-any.whl.metadata (5.6 kB)
Collecting pysocks!=1.5.7,<2.0,>=1.5.6 (from urllib3[socks]<3,>=1.26->selenium)
  Downloading PySocks-1.7.1-py3-none-any.whl.metadata (13 kB)
Collecting pycparser (from cffi>=1.14->trio~=0.17->selenium)
  Downloading pycparser-2.22-py3-none-any.whl.metadata (943 bytes)
Collecting h11<1,>=0.9.0 (from wsproto>=0.14->trio-websocket~=0.9->selenium)
  Downloading h11-0.14.0-py3-none-any.whl.metadata (8.2 kB)
Downloading selenium-4.22.0-py3-none-any.whl (9.4 MB)
   ---------------------------------------- 0.0/9.4 MB ? eta -:--:--
   --- ------------------------------------ 0.9/9.4 MB 26.6 MB/s eta 0:00:01
   --------- ------------------------------ 2.2/9.4 MB 34.6 MB/s eta 0:00:01
   ------------------- -------------------- 4.6/9.4 MB 36.5 MB/s eta 0:00:01
   ---------------------------- ----------- 6.6/9.4 MB 42.1 MB/s eta 0:00:01
   ----------------------------------- ---- 8.3/9.4 MB 37.9 MB/s eta 0:00:01
   ---------------------------------------- 9.4/9.4 MB 35.4 MB/s eta 0:00:00
Downloading certifi-2024.7.4-py3-none-any.whl (162 kB)
   ---------------------------------------- 0.0/163.0 kB ? eta -:--:--
   ---------------------------------------- 163.0/163.0 kB ? eta 0:00:00
Downloading trio-0.26.0-py3-none-any.whl (475 kB)
   ---------------------------------------- 0.0/475.7 kB ? eta -:--:--
   ---------------------------------------- 475.7/475.7 kB ? eta 0:00:00
Downloading trio_websocket-0.11.1-py3-none-any.whl (17 kB)
Downloading typing_extensions-4.12.2-py3-none-any.whl (37 kB)
Downloading urllib3-2.2.2-py3-none-any.whl (121 kB)
   ---------------------------------------- 0.0/121.4 kB ? eta -:--:--
   ---------------------------------------- 121.4/121.4 kB ? eta 0:00:00
Downloading websocket_client-1.8.0-py3-none-any.whl (58 kB)
   ---------------------------------------- 0.0/58.8 kB ? eta -:--:--
   ---------------------------------------- 58.8/58.8 kB ? eta 0:00:00
Downloading attrs-23.2.0-py3-none-any.whl (60 kB)
   ---------------------------------------- 0.0/60.8 kB ? eta -:--:--
   ---------------------------------------- 60.8/60.8 kB 3.2 MB/s eta 0:00:00
Downloading cffi-1.16.0-cp312-cp312-win_amd64.whl (181 kB)
   ---------------------------------------- 0.0/182.0 kB ? eta -:--:--
   ---------------------------------------- 182.0/182.0 kB ? eta 0:00:00
Downloading PySocks-1.7.1-py3-none-any.whl (16 kB)
Downloading sniffio-1.3.1-py3-none-any.whl (10 kB)
Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Downloading idna-3.7-py3-none-any.whl (66 kB)
   ---------------------------------------- 0.0/66.8 kB ? eta -:--:--
   ---------------------------------------- 66.8/66.8 kB 3.5 MB/s eta 0:00:00
Downloading outcome-1.3.0.post0-py2.py3-none-any.whl (10 kB)
Downloading sortedcontainers-2.4.0-py2.py3-none-any.whl (29 kB)
Downloading h11-0.14.0-py3-none-any.whl (58 kB)
   ---------------------------------------- 0.0/58.3 kB ? eta -:--:--
   ---------------------------------------- 58.3/58.3 kB ? eta 0:00:00
Downloading pycparser-2.22-py3-none-any.whl (117 kB)
   ---------------------------------------- 0.0/117.6 kB ? eta -:--:--
   ---------------------------------------- 117.6/117.6 kB 7.2 MB/s eta 0:00:00
Installing collected packages: sortedcontainers, websocket-client, urllib3, typing_extensions, sniffio, pysocks, pycparser, idna, h11, certifi, attrs, wsproto, outcome, cffi, trio, trio-websocket, selenium
Successfully installed attrs-23.2.0 certifi-2024.7.4 cffi-1.16.0 h11-0.14.0 idna-3.7 outcome-1.3.0.post0 pycparser-2.22 pysocks-1.7.1 selenium-4.22.0 sniffio-1.3.1 sortedcontainers-2.4.0 trio-0.26.0 trio-websocket-0.11.1 typing_extensions-4.12.2 urllib3-2.2.2 websocket-client-1.8.0 wsproto-1.2.0

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip